* {
    margin: 0px;
}

a {
    
    color: inherit;
    width: fit-content;
}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    width: auto;
}

/*only for smartphones in portrait mode */
@media (min-width: 600px) and (max-width: 1199px) {
    header {
        font-size: 30px;
        font-weight: lighter;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: 100px;
        font-family: 'Pacifico', cursive;
    }

    #errorcontaint {
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
        padding: 30px;
        margin-top: 500px;
        border-radius: 4px;
        background-color: rgb(227, 198, 198);
    }

    h2 {
        font-weight: lighter;
        font-size: 40px;
    }

    .heading {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        color: red;
        font-size: 60px;
        border: 10px solid black;
        background-color: lightyellow;
        padding: 20px;
        border-radius: 5%;
    }

}