* {
    margin: 0px;
}

a {
    
    color: inherit;
    width: fit-content;
}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    width: auto;
}

/*only for smartphones in portrait mode */
@media (min-width: 600px) and (max-width: 1199px) {
    header {
        font-size: 30px;
        font-weight: lighter;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: 100px;
        font-family: 'Pacifico', cursive;
    }

    #errorcontaint {
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
        padding: 30px;
        margin-top: 500px;
        border-radius: 4px;
        background-color: rgb(227, 198, 198);
        text-align: center;
    }

    h1 {
        font-weight: lighter;
    }


    h2 {
        font-weight: lighter;
        font-size: 40px;
    }

    .heading {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        color: red;
        font-size: 60px;
        border: 10px solid black;
        background-color: lightyellow;
        padding: 20px;
        border-radius: 5%;
    }

}

/* only for smartphones in landscape mode*/
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    header {
        font-size: 15px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height:45px;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    #errorcontaint {
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
        padding: 20px;
        margin-top: 90px;
        border-radius: 4px;
        background-color: rgb(227, 198, 198);
        text-align: center;
    }

    .heading {
        font-size: 40px;
    }


    h1 {
        font-weight: lighter;
    }

    h2 {
        font-size:28px;
        font-weight:lighter;
    } 

    
}

/* iPad in portrait and landscape mode */
@media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {
    header {
        font-size: 13px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: auto;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    #errorcontaint {
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
        padding: 12px;
        margin-top: 250px;
        background-color: rgb(227, 198, 198);
    }

    h1 {
        font-weight: lighter;
    }


    h2 {
        font-weight: lighter;
        font-size: 25px;
        text-align: center;
    }

    .heading {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        color: red;
        font-size: 30px;
        border: 8px solid black;
        background-color: lightyellow;
        padding: 20px;
        border-radius: 5%;
    }
}

/*Large devices only (laptops and deskops) */
@media (min-width: 1200px) {
    header {
        font-size: 13px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: auto;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    #errorcontaint {
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
        padding: 12px;
        margin-top: 150px;
        
        background-color: rgb(227, 198, 198);
    }

    h1 {
        font-weight: lighter;
    }


    h2 {
        font-weight: lighter;
        font-size: 25px;
        text-align: center;
    }

    .heading {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        color: red;
        font-size: 30px;
        border: 8px solid black;
        background-color: lightyellow;
        padding: 20px;
        border-radius: 5%;
    }

}