* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    width: auto;
}

/*limits the li items width to its content only (helps in wrong clicks on desktop sites) */
li {
    width: fit-content;
}

/*only for smartphones in portrait mode */
@media (min-width: 600px) and (max-width: 1199px) {
    header {
        font-size: 30px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: 100px;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    section {
        background-color: rgb(187, 215, 233);
        margin-top: 100px;
        padding: 20px;
    }

    h1 {
        font-weight: lighter;
    }

    h2 {
        font-size:40px;
        font-weight:lighter;
    } 

    li {
        font-size:45px;
        margin: 20px;
    }


    footer {
        margin-top: 150px;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding: 20px;
        width: auto;
        height: auto;
        line-height: 60px;
    }

    h3 {
        font-size: 30px;
        font-weight: lighter;
    }
}

/* only for smartphones in landscape mode*/
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    header {
        font-size: 15px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height:45px;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    section {
        background-color: rgb(187, 215, 233);
        margin-top: 50px;
        padding: 8px;
    }

    h1 {
        font-weight: lighter;
    }

    h2 {
        font-size:25px;
        font-weight:lighter;
    } 

    li {
        font-size:23px;
        margin: 12px;
    }


    footer {
        margin-top: 30px;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding: 8px;
        width: auto;
        height: auto;
        line-height: 30px;
    }

    h3 {
        font-size: 28px;
        font-weight: lighter;
    }

}

/* iPad in portrait and landscape mode */
@media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {
    header {
        font-size: 13px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: auto;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    section {
        background-color: rgb(187, 215, 233);
        margin-top: 35px;
        padding: 15px;
    }

    h1 {
        font-weight: lighter;
    }

    h2 {
        font-size:25px;
        font-weight:lighter;
    } 

    li {
        font-size:23px;
        margin: 12px;
    }

    footer {
        margin-top: 50px;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding: 12px;
        width: auto;
        height: auto;
        line-height: 30px;
    }

    h3 {
        font-size: 25px;
        font-weight: lighter;
    }
}

/*Large devices only (laptops and deskops) */
@media (min-width: 1200px) {
    header {
        font-size: 13px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: auto;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    section {
        background-color: rgb(187, 215, 233);
        margin-top: 35px;
        padding: 15px;
    }

    h1 {
        font-weight: lighter;
    }

    h2 {
        font-size:25px;
        font-weight:lighter;
    } 

    li {
        font-size:23px;
        margin: 12px;
    }

    footer {
        margin-top: 35px;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding: 12px;
        width: auto;
        height: auto;
        line-height: 30px;
    }

    h3 {
        font-size: 25px;
        font-weight: lighter;
    }
}