* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    width: auto;
}

/*only for smartphones in portrait mode */
@media (min-width: 600px) and (max-width: 1199px) {
    header {
        font-size: 30px;
        font-weight: lighter;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: 100px;
        font-family: 'Pacifico', cursive;
    }

    h1 {
        font-weight: lighter;
    }



    section {
        background-color: rgb(187, 215, 233);
        margin-top: 150px;
        padding: 20px;
        margin-bottom: 100px;
    }


    h2 {
        font-size: 45px;
        font-weight: lighter;
    }

    li {
        font-size: 40px;
        margin: 20px;
    }

    img {
        height: 500px;
        width: 500px;
        border: 5px solid black;
        border-radius: 20px;
    }

    button {
        font-size: 45px;
        padding: 15px;
        border: 4px solid black;
        border-radius: 10px;
        background-color: rgb(233, 222, 222);
        color: rgba(69, 69, 226, 0.959);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
}

/* only for smartphones in landscape mode*/
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    header {
        font-size: 15px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height:45px;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    section {
        background-color: rgb(187, 215, 233);
        margin-top: 60px;
        padding: 10px;
    }

    h1 {
        font-weight: lighter;
    }

    h2 {
        font-size:30px;
        font-weight:lighter;
    } 

    li {
        font-size:28px;
        margin: 15px;
    }


    h3 {
        font-size: 28px;
        font-weight: lighter;
    }

    img {
        height: 250px;
        width: 250px;
        border: 5px solid black;
        border-radius: 20px;
    }

    button {
        font-size: 25px;
        padding: 13px;
        border: 3px solid black;
        border-radius: 8px;
        background-color: rgb(233, 222, 222);
        color: rgba(69, 69, 226, 0.959);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
}

/* iPad in portrait and landscape mode */
@media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {}

/*Large devices only (laptops and deskops) */
@media (min-width: 1200px) {
    header {
        font-size: 13px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding:9px;
        position: fixed;
        width: 100%;
        height: auto;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }

    section {
        background-color: rgb(187, 215, 233);
        margin-top: 100px;
        padding: 15px;
        margin-bottom: 60px;
    }

    h1 {
        font-weight: lighter;
    }

    h2 {
        font-size:25px;
        font-weight:lighter;
    } 

    li {
        font-size:23px;
        margin: 12px;
    }

    img {
        height: 250px;
        width: 250px;
        border: 5px solid black;
        border-radius: 12px;
    }

}