* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    width: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 1199px) {
    header {
        font-size: 30px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding: 9px;
        position: fixed;
        width: 100%;
        height: 100px;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }



    h1 {
        font-weight: lighter;
    }


    h2 {
        font-size: 55px;
    }

    section {
        margin-top: 200px;
        background-color: rgb(187, 215, 233);
        padding: 20px;
        height: auto;
        width: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 100px;
    }

    img {
        height: 650px;
        width: 750px;
        border-radius: 5%;
        border: 6px solid black;
    }

    ul {
        font-family: Arial, Helvetica, sans-serif;
    }

    li {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        margin: 15px 0px 20px 0px;
    }
}

/*Landscape smartphones*/
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    header {
        font-size: 18px;
        text-align: center;
        color: rgba(69, 69, 226, 0.959);
        background-color: rgb(233, 222, 222);
        padding: 9px;
        position: fixed;
        width: 100%;
        height: 60px;
        font-family: 'Pacifico', cursive;
        font-weight: lighter;
    }


section {
    background-color: rgb(187, 215, 233);
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 60px;
}

h1 {
    font-weight: lighter;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
}

li {
    font-size: 28px;
    margin: 15px;
}

img {
    height: 250px;
    width: 250px;
}

}

/* iPad in portrait and landscape mode */
@media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {}

/*Large devices only (laptops and deskops) */
@media (min-width: 1200px) {}